.contact1{
    background-color: yellow;
    width: 250px;
    height: 400px;
    border-radius: 30px;
    text-align: center;
    
}
.contact-1{
    padding-top: 200px;

}

.barcode{
    width: 150px;
    height: 150px;
}

.contact2{
    background-color: yellow;
    width: 500px;
    height: 400px;
    border-radius: 30px;
    text-align: center;
}

.contact-2{
    padding-left: 50px;
    padding-top: 200px;
}
.display{
   display: flex;
   justify-content: center;
}