
.body1{
    display: grid;
    padding-top: 200px;
    padding-left: 5cm;
    display: table;
    
}

.restaurant1{
    padding-top: 50px;
    width: 800px;
    weight: 50px;
}

.restaurant2{
    padding-top: 50px;
    width: 800px;
    weight: 50px;
}

.restaurant3{
    padding-top: 50px;
    width: 800px;
    weight: 50px;
}

.restaurant4{
    padding-top: 50px;
    width: 800px;
    weight: 50px;
}
